<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-content class="p-0">
    <ngx-datatable
          class="material ml-0 mr-0"
          [rows]="items"
          [columnMode]="'flex'"
          [headerHeight]="50"
          [footerHeight]="50"
          [limit]="10"
          [rowHeight]="'auto'">		  
          <ngx-datatable-column name="Server Name" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.serverName }}
            </ng-template>
          </ngx-datatable-column> 
          <ngx-datatable-column name="Server Host" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.serverHost }}
            </ng-template>
          </ngx-datatable-column>
		  <!--
		  <ngx-datatable-column name="Cluster Name" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.clusterName }}
            </ng-template>
          </ngx-datatable-column> 
		  <ngx-datatable-column name="JVM Name" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.jvmName }}
            </ng-template>
          </ngx-datatable-column>  	
		  -->
          <ngx-datatable-column name="Script Type" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.scriptTypeName }}
            </ng-template>
          </ngx-datatable-column> 
          <ngx-datatable-column name="Script Name" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.name }}
            </ng-template>
          </ngx-datatable-column>  
		  <!--
			<ngx-datatable-column name="Script Details" [flexGrow]="1">
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{ row?.details }}
				</ng-template>
			</ngx-datatable-column> 
			-->
          <ngx-datatable-column name="Actions" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template> 
              <!--<button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp(row)"><mat-icon>edit</mat-icon></button>-->
              <button mat-mini-fab color="primary" (click)="executeItem(row)" [disabled]="row.isInProgress"><mat-icon>beenhere</mat-icon></button>
            </ng-template>
          </ngx-datatable-column>
		  
		  
        </ngx-datatable>
  </mat-card-content>
</mat-card>
<div class="create-button-fab" >
  <span fxFlex></span> 
  <button mat-fab class="mb-05" color="primary" (click)="openPopUp({})"><mat-icon>filter_list</mat-icon></button>  
</div>
